h1 { font-family:Arial;
     font-size:26px;
     text-align:center;
     color:white;
}


h2 { font-family:Arial;
     font-size:19px;
     text-align:left;
     color:orange;
}

p { font-family:Arial;
    font-size:14px;
    text-align:justify;
    color:black;
    text-indent:50px;
}

div{ width:1400px;
     height:70px;
     top:0px;
     left:0px;
     border:0px;
     position:relative;
     padding:1px;
     background-color:yellowgreen;
}
     
nav {
     background-color: #4d26da;
     height: 70px;
     width: 1400px;
   }
   
   ul {
     margin: 0;
     padding: 0;
     list-style: none;
     display: inline-block;
   }
   
   li {
     float: left;
   }
   
   a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   a:hover {
     background-color: #111;
   }
   
   a.active {
     background-color: #4CAF50;
   }    
     
      

     

